
.search-bar {
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: .4em;
}

.search-bar input{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    padding-left: 3em;
    border: none;
    background:rgb(241, 241, 241);
}

.search-bar input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    background: #fff;
}

.search-bar input:focus + i {
    color: var(--primary-color);
}

.search-bar i {
    position: absolute;
    top: 50%;
    left: 14px;
    color: rgb(109, 109, 109);
    transform: translateY(-50%);
}
