.setting {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setting:hover {
    background: rgb(220, 235, 255);
    border-radius: 50%;
}

.twitter-modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 3;
}

.twitter-modal-wrapper {
    width: 40%;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 2em;
}

.twitter-modal-wrapper > i {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .6em;
    margin-left: 1.5em;
    margin-bottom: .6em;
    border-radius: 50%;
}

.twitter-modal-wrapper > i:hover {
    background: #dddddd;
}

.twitter-modal-wrapper > div {
    padding: 1em 1.5em;
    border-top: 1px solid var(--border-color);
}

.home-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-bar-container {
    width: 15%;
    /* padding: 1em 2em; */
}

.nav-bar-logo {
    width: 25px;
    height: 25px;
    margin: 1em .8em;
}

.nav-bar {
    list-style-type: none;
    margin-bottom: 1em;
}

.nav-item {
    width: 100%;
    display:flex;
    align-items: center;
     font-size: 1.3em;
     cursor: pointer;
     padding: .8em;
     border-radius: 2em;
}

.nav-item:hover {
    background: var(--background-color)
}

.nav-item i {
    margin-right: 1em;
}

.logout-wrapper {
    position: relative;
}

.logout-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
    padding: .8em;
    border-radius: 2em;
    cursor: pointer;
}

.logout-section:hover {
    background: var(--background-color)
}

.logout-section.active {
    cursor: default;
}
.logout-section.active:hover {
    background: none;
}

.user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.latest-tweet-container {
    display: flex;
}

/* main-section */

.main-section {
    width: 55%;
    height: 100vh;
    overflow-y: scroll;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.main-section::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* sidebar */

.sidebar {
    width: 20%;
}

.trends-container {
    margin-top: 2em;
    background: rgb(245, 245, 245);
    border-radius: 1em;
}

.trends-container > h4 {
    font-size: 1.3em;
    padding: .4em 1em .4em 1em;
    border-bottom: 1px solid var(--border-color);
}

.latest-trends {
    display: flex;
    width: 100%;
    padding: .6em 1em;
    justify-content: space-between;
    cursor: pointer;
}

.latest-trends:hover {
    background: rgb(235, 235, 235);
}

.latest-trends:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.latest-trends:last-child {
    height: inherit;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.latest-trends-content h6 {
    color: rgb(109, 109, 109);
    font-weight: normal;
    font-size: 12px;
}

.latest-trends-content h4 {
    margin: 4px 0;
}

/* messaging */
.message-bar-fixed {
    position: fixed;
    width: 100px;
    border: 1px solid var(--border-color);
    bottom: 0;
    right: 0;
    
}