.comment-content-wrapper {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto;
}

.comment-content {
    margin: 10px 30px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.comment-content > div {
    display: flex;
}

.comment-content img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.comment-detail div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#comment-text {
    color: #000;
}

.position-comment button {
    top: 30px;
}