
.tweet-form-wrapper {
    padding: .6em 1.5em;
     border-bottom: 1px solid var(--border-color);
}

.latest-tweet-container {
    padding: .6em 1.5em;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.latest-tweet-container:hover {
    background: rgb(248, 248, 248);
}

.latest-tweet--header-content {
    width: 85%;
}

.latest-tweet--header-content > div{
    display: flex;
}

.latest-tweet--header-content > div p {
    color: var(--darker-grey);
    margin-left: .4em;
}

.tweet-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 2em;
    margin: .6em 0;
}

.tweet-footer {
    color: var(--darker-grey);
}

.tweet-comment {
    margin-right: 1.4em;
    cursor: pointer;
}

.tweet-comment i {
    margin-right: .2em;
    padding: 10px;
}

.tweet-comment:hover i {
    color: var(--primary-color);
    background: rgb(220, 235, 255);
    padding: 10px;
    border-radius: 50%;
}

.tweet-comment:hover span {
    color: var(--primary-color);
}

.tweet-love {
    cursor: pointer;
}

.tweet-love i {
    margin-right: .2em;
    padding: 10px;
}

.tweet-love:hover i {
    background: rgb(255, 209, 216);
    color: lightcoral;
    padding: 10px;
    border-radius: 50%;
}

.tweet-love:hover span {
    color: lightcoral;
}

