:root {
  --primary-color: #00acee;
  --primary-light-color: #d9f2fc;
  --primary-dark-color: #0091ca;
  --darker-grey: #9b9b9b;
  --border-color: #e9e9e9;
  --background-color: #e8e8e8;
}

.primary-btn {
 outline: none;
 border: none; 
 width: 100%;
 height: 50px;
 border-radius: 2em;
 background: var(--primary-color);
 color: #fff;
 cursor: pointer;
 font-weight: bold;
}

.secondary-btn {
  outline: none;
 border: 1px solid var(--primary-color);
 width: 100%;
 height: 50px;
 border-radius: 2em;
 background: #fff;
 cursor: pointer;
 font-weight: bold;
 color: var(--primary-color);
}

.primary-btn:hover {
  background: var(--primary-dark-color);
}

.secondary-btn:hover {
  background: var(--primary-light-color);
}